<div class="container flex flex-col py-4">
  <h2 class="text-2xl font-medium text-dark mb-8">{{ translations.submitARequest }}</h2>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="self-center w-full">
    <div class="grid grid-cols-3 gap-4 my-8">
      <label for="type" class="mb-2 text-dark mr-4">{{ translations.requestType }}</label>
      <select
        id="type"
        formControlName="type"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      >
        <option value="leave">{{ translations.leave }}</option>
        <option value="travel">{{ translations.travel }}</option>
        <option value="expense">{{ translations.expense }}</option>
      </select>
    </div>
    <div class="grid grid-cols-3 gap-4 my-8">
      <label for="startDate" class="mb-2 text-dark mr-4">{{ translations.startDate }}</label>
      <input
        id="startDate"
        formControlName="startDate"
        type="date"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      />
    </div>
    <div class="grid grid-cols-3 gap-4 my-8">
      <label for="endDate" class="mb-2 text-dark mr-4">{{ translations.endDate }}</label>
      <input
        id="endDate"
        formControlName="endDate"
        type="date"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      />
    </div>
    <div class="grid grid-cols-3 gap-4 my-8">
      <label for="reason" class="mb-2 text-dark mr-4">{{ translations.reason }}</label>
      <textarea
        id="reason"
        formControlName="reason"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      ></textarea>
    </div>
    <!-- <div class="grid grid-cols-3 gap-4 my-8">
      <label for="attachment" class="mb-2 text-dark mr-4">{{ translations.attachment }}</label>
      <input
        id="attachment"
        formControlName="attachment"
        type="file"
        (change)="onFileChange($event)"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      />
    </div> -->
    <div class="grid grid-cols-3 gap-4 my-8">
      <label for="department" class="mb-2 text-dark mr-4">{{ translations.department }}</label>
      <input
        id="department"
        formControlName="department"
        type="text"
        class="bg-d-white col-span-2 border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary w-50 p-1.5"
      />
    </div>
    <button
      type="submit"
      class="rounded-md bg-primary hover:bg-tertiary text-white px-8 py-2 mt-8 float-right"
      [disabled]="requestForm.invalid"
    >
      {{ translations.submit }}
    </button>
  </form>
</div>
