<div class="container py-4">
  <h2 class="text-2xl font-medium text-dark mb-6">{{ translations.pendingRequests }}</h2>
  <div class="filters flex justify-end items-center gap-3 w-full">
    <label class="block mb-2 text-sm font-medium text-dark" for="type">
      {{ translations.filterByType }}
    </label>
    <select
      class="bg-white border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary block w-50 p-2.5"
      id="type"
      [(ngModel)]="filterType"
      (change)="applyFilters()"
    >
      <option value="">{{ translations.all }}</option>
      <option value="leave">{{ translations.leave }}</option>
      <option value="travel">{{ translations.travel }}</option>
      <option value="expense">{{ translations.expense }}</option>
    </select>
  </div>
  <div class="pt-8">
    <table class="w-full text-sm text-left rtl:text-right text-dark">
      <thead class="text-xs text-dark uppercase bg-white">
        <tr>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.request }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.startDate }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.endDate }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.reason }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.status }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.action }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of filteredRequests" class="bg-white border-b">
          <td class="px-6 py-4">
            {{ request.type | titlecase }} {{ translations.request }}
          </td>
          <td class="px-6 py-4">{{ request.startDate | date : "dd/MM/yyyy" }}</td>
          <td class="px-6 py-4">{{ request.endDate | date : "dd/MM/yyyy" }}</td>
          <td class="px-6 py-4 break-all w-1/3">{{ request.reason }}</td>
          <td class="px-6 py-4 break-all w-1/3">
            <span *ngIf="request.status == 'rejected'" class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{{ request.status | titlecase }}</span>
            <span *ngIf="request.status == 'approved'" class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ request.status | titlecase }}</span>
            <span *ngIf="request.status == 'pending'" class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{{ request.status | titlecase }}</span>
          </td>
          <td class="px-6 py-4">
            <!-- Show buttons only if request.status is null or an empty string -->
            <ng-container *ngIf="request.status == null || request.status == ''">
              <button
                (click)="approveRequest(request.id)"
                class="rounded-full bg-success hover:bg-success-secondary text-white text-xs px-2 py-1 w-16 mr-2"
              >
                {{ translations.approved }}
              </button>
              <button
                (click)="rejectRequest(request.id)"
                class="rounded-full bg-error hover:bg-error-secondary text-white px-2 text-xs py-1 w-16 mr-2"
              >
                {{ translations.rejected }}
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
