<div class="container py-4">
  <h2 class="text-2xl font-medium text-dark mb-6">{{ translations.pendingRequests }}</h2>
  <div class="filters flex justify-end items-center gap-3 w-full">
    <label class="block mb-2 text-sm font-medium text-dark" for="type">
      {{ translations.filterByType }}
    </label>
    <select
      class="bg-white border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary block w-50 p-2.5"
      id="type"
      [(ngModel)]="filterType"
      (change)="applyFilters()"
    >
      <option value="">{{ translations.all }}</option>
      <option value="leave">{{ translations.leave }}</option>
      <option value="travel">{{ translations.travel }}</option>
      <option value="expense">{{ translations.expense }}</option>
    </select>
    <label class="block mb-2 text-sm font-medium text-dark" for="status">
      {{ translations.filterByStatus }}
    </label>
    <select
      class="bg-white border border-secondary text-dark text-sm rounded-lg focus:ring-secondary focus:border-primary block w-50 p-2.5"
      id="status"
      [(ngModel)]="filterStatus"
      (change)="applyFilters()"
    >
      <option value="">{{ translations.all }}</option>
      <option value="pending">{{ translations.pending }}</option>
      <option value="approved">{{ translations.approved }}</option>
      <option value="rejected">{{ translations.rejected }}</option>
    </select>
  </div>
  
  <div class="pt-8">
    <table class="w-full text-sm text-left rtl:text-right text-dark">
      <thead class="text-xs text-dark uppercase bg-white">
        <tr>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.request }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.startDate }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.endDate }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.reason }}
          </th>
          <th scope="col" class="px-6 py-3 border-l-2 border-secondary">
            {{ translations.status }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of filteredRequests" class="bg-white border-b">
          <td class="px-6 py-4">
            {{ request.type | titlecase }} {{ translations.request }}
          </td>
          <td class="px-6 py-4">{{ request.startDate | date : "dd/MM/yyyy" }}</td>
          <td class="px-6 py-4">{{ request.endDate | date : "dd/MM/yyyy" }}</td>
          <td class="px-6 py-4 break-all w-1/3">{{ request.reason }}</td>
          <td class="px-6 py-4 break-all w-1/3">
            <span *ngIf="request.status == 'rejected'" class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{{ request.status | titlecase }}</span>
            <span *ngIf="request.status == 'approved'" class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ request.status | titlecase }}</span>
            <span *ngIf="request.status == 'pending'" class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{{ request.status | titlecase }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination Controls -->
    <div class="flex justify-center mt-4">
      <button 
        (click)="setPage(currentPage - 1)" 
        [disabled]="currentPage === 1" 
        class="px-4 py-2 bg-gray-300 rounded-l">
        Previous
      </button>
      <span class="px-4 py-2 bg-white border-t border-b">
        Page {{ currentPage }} of {{ totalPages }}
      </span>
      <button 
        (click)="setPage(currentPage + 1)" 
        [disabled]="currentPage === totalPages" 
        class="px-4 py-2 bg-gray-300 rounded-r">
        Next
      </button>
    </div>
  </div>
</div>
